<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  
  <appSettings> <!-- OnTime Settings -->
    <add key="ApiURL" value="" />
    <add key="ApiClientId" value="" />
    <add key="ApiClientSecret" value="" />
    <add key="ApiUsername" value="" />
    <add key="ApiPassword" value="" />
    
    <!-- Email Settings... -->
    <add key="SmtpClientServer" value="" />
    <add key="SmtpClientPort" value="" />
    <add key="SenderEmail" value="" />
    <add key="CarbonCopyEmail" value=""/>
    
    <!-- Application Settings -->
    <add key="ApplicationType" value="developer" /> <!-- tester or developer -->
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>